.App{
  display: flex;  
  flex-direction: column;
  align-items: center;
  

}
.btnKelimeGrup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.btnKelimeGrup .btn{
  margin-top: 15px;
}
.textfieldGrup{
  display: flex;
  flex-direction: column;
}
